
<section id="values" class="text-white bg-cover bg-center w-full py-20" style="background-image:url({{ data.values.background }})">

<div class="container">

<div class="mb-10 text-center" data-aos-delay="100" data-aos="fade-down">

<h2 class="top_title">{{ data.values.top_title }}</h2>

<h3 class="text-4xl mb-3">{{ data.values.title }}</h3>

</div>

<div class="grid grid-cols-2 lg:grid-cols-4 gap-4">

{% for key, value in data.values.values %}

<div class="flex flex-col text-center group" data-aos-delay="{{ key + 2 }}00" data-aos="fade-up">

<div class="h-[90px] w-[90px] bg-transparent border-2 group-hover:bg-secondary transition-all rounded-full mx-auto flex justify-center items-center">

<img src={{ value.icon }} alt="{{ value.title }}"  class="h-[60px] w-[60px] pointer-events-none" />

</div>

<h3 class="my-2 text-[18px]">{{ value.title }}</h3>

<p class="text-sm">{{ value.description }}</p>

</div>

{% endfor %}

</div>

</div>

</section>