<p>Bonjour, {{ fullName | capitalize  }} vient de vous demander un devis</p>

<ul>

<li>Nom et prénom: {{ fullName | capitalize  }}</li>

{% if phone %} 

<li>Numéro de téléphone: {{ phone }} </li>

{% endif  %}

<li>Email: {{ email }} </li>

{% if company %} 

<li>Entreprise: {{ company | capitalize  }} </li>

{% endif  %}


<li>Adresse: {{ address | capitalize }} </li>

<li>Ville: {{ city | capitalize }} </li>

<li>Code postal: {{ postal_code | capitalize }} </li>

<li>Surface en m²: {{ surface }} </li>

{% if interventions %} 

<li>Interventions souhaitées par semaine: {{ interventions }} </li>

{% endif  %}

{% if informations %} 

<li>Plus de détails: {{ informations }} </li>

{% endif  %}

</ul>